<!DOCTYPE html>
<html>
    <head>
        <title>签到签离</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="__DCSS__/login.css" media="screen" />
        <script type="text/javascript" src="__DJS__/jquery-3.2.1.min.js"></script>
        <style type="text/css">.block{width:300px;margin-top:23px;}</style>
    </head>

    <body>
        <div class="container">
            <div class="clear">&nbsp;&nbsp;</div>
            <div class="box div">
                <h2>
                    签到签离
                </h2>
                <div class="form">
                    <p>
                        <botton  value="{$n.fname}"  style="width: 360px;height: 60px;text-align:center;" />
                    </p>                           
                </div>
            </div>
        </div>
    </body>

</html>
