<!DOCTYPE html>
<html>
    <head>
        <title>选择</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="__DCSS__/login.css" media="screen" />
        <script type="text/javascript" src="__DJS__/jquery-3.2.1.min.js"></script>
        <style type="text/css">.block{width:300px;margin-top:23px;}</style>
    </head>

    <body>
        <div class="container">
            <div class="clear">&nbsp;&nbsp;</div>
            <div class="box div">
                <h2>
                    请选择所需预约的区域
                </h2>
                <div class="form">
                    <if condition='!$area'>
                        暂没有可预约的区域
                    <else/>
                    <volist name="area" id="n">
                         <form action="{:U('main',array('fid'=>$n['fid']))}" method='post' class="block" >
                            <p>
                                <input type="hidden" name="fid" value="{$n.fid}" />
                                <input type="submit" value="{$n.fname}"  class="botton" style="width: 360px;height: 60px;text-align:center;margin-left: 270px;" />
                            </p>                           
                        </form>
                    </volist>
                    </if>
                </div>
            </div>
        </div>
    </body>

</html>
